.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
}
.ant-picker, .ant-input-number {
    width: 100%;
}
.home-menu button.ant-btn {
    width: 200px;
}
.ant-table-summary {
    background: #fafafa;
}
@media (max-width: 850px) {
    .main {
        padding: 30px;
    }
    .ant-table {
        overflow-x: scroll;
    }
}